<hr>    
{{#if messages }}
    <div class="">
        {{#each messages}}
            <p>
                <b class="text-primary">{{this.usermail}}</b> 
                [{{this.fecha}}]
                : 
                <i class="text-success">{{this.mensaje}}</i></p>
        {{/each}}
    </div>
{{else}}
    <h3 class="alert alert-warning">No hay Mensajes</h3>
{{/if}}